@use "../abstracts" as *;

.nav {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	@media #{$tablet} {
		flex-direction: row;
		align-items: flex-start;
	}
}
